/* DEFINIÇÕES GERAIS */
body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif ;
    color: #222222;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}


*{
    box-sizing: border-box;
}

/* NAVBAR */

.nav-bg{
    background: #FFD503;
}

.nav-menu{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0px;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;

}

.nav-logo{
    display: flex;
    flex-wrap: wrap;
    font-size: 2em;
    font-weight: bold;
    margin: 0 10px;
}

.nav-logo i{
    align-self: center;
    padding-right: 10px;
}

.nav-acesso ul{
    display: flex;
    flex-wrap: wrap;
}

.nav-acesso a{
    
    display: block;
    padding: 10px;
    font-size: 1em;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.nav-acesso a:hover{
    background: black;
    color: white;
    transition: 0.5s;
}

/* INTRO */

.background{
    background: #222222;
    max-width: 100%;
    height: 1000px;
    display: flex;
}

.intro-bg{
    background: white;
    width: 100%;
    height: 400px;
}

.intro-text{
    margin: 0 ;
}